.personal-plans {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
}

.personal-plans-header {
  margin-bottom: 40px;
}

.personal-plans-header h1 {
  font-size: 2.5em;
  color: #007bff;
}

.personal-plans-header form {
  margin-top: 20px;
}

.personal-plans-header label {
  font-size: 1.2em;
  color: #6c757d;
}

.personal-plans-header input {
  margin-left: 10px;
  padding: 5px;
  font-size: 1em;
}

.personal-plans-header button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.personal-plans-header button:hover {
  background-color: #0056b3;
}

.meal-plans-list {
  list-style-type: none;
  padding: 0;
}

.meal-plan-item {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  margin-top: 10px;
}

.personal-plans h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.personal-plans p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

.personal-plans input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.personal-plans button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.personal-plans button:hover {
  background-color: #0056b3;
}

.meal-plans, .selected-plans {
  margin-top: 20px;
}

.meal-plan, .selected-plan {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.meal-plan h3, .selected-plan h4 {
  margin: 0 0 10px 0;
  color: #333;
}

.meal-plan p, .selected-plan p {
  margin: 5px 0;
  color: #666;
}

.meal-image {
  width: 100%;
  max-width: 200px;  /* Set a maximum width for images */
  height: auto;      /* Maintain aspect ratio */
  margin-top: 10px;
  border-radius: 8px;  /* Optional: Add rounded corners */
}
